@import "tailwindcss";

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: #008850;
  border-radius: 3px; 
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
  border-radius: 5px; 
}
