@import "tailwindcss";

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: #008850;
  border-radius: 3px; 
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
  border-radius: 5px; 
} 

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    to {
      transform: translateX(5em);
    }
  }

  /* Custom text-shadow for the marquee effect */
  .text-shadow-marquee {
    text-shadow: white 5em 0, white -5em 0, white -10em 0;
  }

  /* Marquee animation setup */
  .marquee {
    animation: marquee 1s linear infinite;
  }

  /* Make the marquee visible and start animation on hover */
  .btn-23:hover .marquee {
    opacity: 1;
    animation-play-state: running;
  }

  /* Hide the main text when hovering */
  .btn-23:hover .text {
    opacity: 0;
  } 